<html>
  <head>
    <title>Game Engine</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Document</title>
  </head>
  <body id="controller">
    <div id="home">
        <h1>Game Engine</h1>
        <h2>Select a game</h2>
        <ul id="games"></ul>
    </div>
    <div id="game">
      <ul id="gameOptions">
        <button>Exit</button>
        <input type="text">
      </ul>
    </div>
  </body>
  <script src="../drawer.js"></script>
</html>